$primary-light: #346148;
$secondary-light: #302B27;
$text-light: #F5F3F5;
$text-dark-light: #444444;

$primary-dark: #302B27;
$secondary-dark: #F5F3F5;
$text-dark: #F5F3F5;
$text-dark-dark: #222222;


$padding-20: 20px;
$padding-10: 10px;
$padding-5: 5px;
