@import "_variables";
@font-face {
    font-family: "kaushan";
    src: url("../../assets/fonts/kaushan/KaushanScript-Regular.otf")
        format("opentype");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: auto;
    position: relative;
}

//for light mode
.light {
    background: $green;
    color: $light;
}

//for dark mode
.dark {
    background: $dark-brown;
    color: $dim-light;
    for-dark-mode{
      background: $dark-brown !important;
    }
}

header {
    position: relative;
}

//All section
section {
    padding: 30px;
    margin-top: 20px;
    p {
        font-size: 1.1rem;
        margin-top: 25px;
    }
}

//pushing away from header svg
section:first-child {
    margin-top: 120px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
    min-width: 100%;
    padding: $padding-20;
    button {
        padding: $padding-5 $padding-10;
        border: none;
        background: transparent;
    }

    .logo,
    .menu-btn,
    .toggle-mode {
        padding: $padding-10;
    }

    .logo {
        font-size: 1.5rem;
        color: $light-dark;
        pointer-events: none;
        font-family: kaushan;
    }

    .scroll-to {
        position: fixed;
        right: 50%;
        bottom: 0;
        transform: translateX(50%);
        padding: 0;
        margin: 0;
        z-index: 9;
        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;
            padding: $padding-5;
            background: rgba($color: $light, $alpha: 1);
            border-radius: 10px 10px 0 0;
            li {
                padding: $padding-10 20px;
                border-radius: 10px;
                font-weight: bold;
                border: 2px solid$green;
                color: $light-dark;
                transition: background 0.3s ease-in-out;
            }
        }
    }
    .menu-dialog {
        position: fixed;
        bottom: 50%;
        right: 50%;
        transform: translate(400%, 400%);
        background: $light;
        border-radius: 10px;
        width: 300px;
        height: fit-content;
        color: white;
        transition: transform 0.5s ease-in-out;
        z-index: 12;
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;
            li{
                padding: $padding-10 20px;
                border-radius: 10px;
                font-weight: bold;
                border: 2px solid $green;
                color: $light-dark;
                transition: background 0.3s ease-in-out;
                &:hover {
                    a {
                        color: #fff !important;
                    }
                }
                a {
                    color: $light-dark;
                }
            }
        }
        button {
            position: absolute;
            top: -30px;
            right: 5px;
            background: #777;
            color: $light;
            padding: $padding-5;
            border-radius: 5px;
            border: 1px solid white;
        }
    }
}

.toggle-mode {
    transition: all 0.3s ease-in-out;
    transform: rotate(-45deg);
}

.active-button {
    background: $green;
    color: $light !important;
}

.menu-btn {
    transition: transform 0.3s ease-in-out;
}

.rotate90deg {
    transform: rotate(90deg);
}

.grid-about-me {
    display: block;
}

//my image
.igwefran6-image {
    height: 250px;
    width: 250px;
    margin: auto;
    margin-top: 50px;
    border-radius: 50%;
    border: 2px solid $light;
    outline: 2px solid $light;
    outline-offset: 4px;
    img {
        width: 100%;
        object-position: top;
        object-fit: cover;
        border-radius: 50%;
    }

    .img-emoji,
    .img-emoji-2,
    .img-emoji-3 {
        display: none;
    }
}

.projects {
    z-index: 1;
}

.grid-project {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    margin-top: 40px;
    div {
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        min-height: 250px;
        border-radius: 10px;
        border: 2px solid $light;
        position: relative;
        transition: transform 0.5s ease-in-out;
        & {
            &:hover {
                transform: translateY(-20px);
                z-index: 4;
                transition: all 0.3s ease-in-out 0s;
                outline: 2px solid $light;
                outline-offset: 2px;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            border-radius: 8px;
        }
        button {
            position: absolute;
            padding: $padding-10 20px;
            font-weight: bold;
            border: 2px solid $light;
            background: $green;
            color: $light;
            transition: padding 0.3s ease-in-out;
            &:hover {
                padding: 16px 32px;
            }
        }
        .btn-demo {
            bottom: 20px;
            left: 20px;
            border-radius: 10px 0 0 10px;
        }
        .btn-source-code {
            bottom: 20px;
            right: 20px;
            border-radius: 0 10px 10px 0;
        }
        .project-title {
            position: absolute;
            top: 20px;
            left: 20px;
            text-decoration: underline;
            text-decoration-color: transparent;
            transition: all 0.3s ease-in-out;
            font-size: 1rem;
            background: rgba(#000, 0.4);
            padding: $padding-5 10px;
            &:hover {
                text-decoration-color: $light;
            }
        }
    }
}

a {
    text-decoration: none;
    color: #fff;
}

form {
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 2;
    padding: $padding-20;
    background: grey;
    border-radius: 10px;
    border: 2px solid $light;
    input,
    textarea {
        width: 100%;
        padding: $padding-5;
        background: $light;
        border: none;
        border-radius: 5px 5px 0 0;
        font-size: 1.1rem;
        font-weight: bold;
        color: rgba($color: $light-dark, $alpha: 0.8);
    }

    label {
        font-weight: bold;
        margin: 6px 0 2px 0;
        display: inline-block;
        span {
            color: red;
            font-size: 1rem;
            margin-left: 4px;
            display: inline-block;
        }
    }
    label:first-child {
        margin-top: 0;
    }
    .btn {
        border: 2px solid $light;
        width: 60%;
        padding: 7px 14px;
        background: $green;
        color: $light;
        margin-top: 8px;
        border-radius: 0 0 5px 5px;
    }
}

//footer dark wave
.wave-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.wave-footer svg {
    position: relative;
    display: block;
    width: calc(171% + 1.3px);
    height: 500px;
}

.wave-footer .shape-fill {
    fill: #000000;
}

//code from https://codepen.io/nxworld/pen/zwGpXr

.loading,
.send-text {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    color: #fff;
    span {
        display: inline-block;
        margin: 0 -0.05em;
    }
}

//code from https://codepen.io/nxworld/pen/zwGpXr
// modified by me
.loading07 {
    span {
        position: relative;
        color: rgba(#000, 0.2);
        &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: attr(data-text);
            color: #fff;
            opacity: 0;
            transform: scale(1.5);
            animation: loading07 3s infinite;
            //animation-play-state: paused;
        }
        @for $i from 1 through 6 {
            &:nth-child(#{$i + 1})::after {
                animation-delay: #{$i * 0.1}s;
            }
        }
    }
}

@keyframes loading07 {
    0%,
    75%,
    100% {
        transform: scale(1.5);
        opacity: 0;
    }
    25%,
    50% {
        transform: scale(1);
        opacity: 1;
    }
}

.hide {
    display: none;
}

.success,
.failure {
    position: fixed;
    bottom: -100px;
    right: 0;
    width: 100%;
    background: seagreen;
    padding: $padding-10;
    transition: all 0.5s;
    z-index: 10;
}

.failure {
    background: tomato;
    span {
        position: absolute;
        top: -20px;
        right: 2px;
        background: seagreen;
        padding: 2px 4px;
        font-size: 14px;
        border-radius: 2px;
    }
}

@media (max-width: 767px) {
    .wave-footer svg {
        width: calc(154% + 1.3px);
        height: 102px;
    }
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(163% + 1.3px);
    height: 104px;
    z-index: -1;
}

.wave .shape-fill {
    fill: #ffffff;
}

.menu-desktop {
    display: flex;
    font-weight: bold;
    align-items: center;
}

.desktop-menus {
    display: flex;
    list-style-type: none;
    font-size: 1.1rem;
    gap: 4px;
    border-radius: 10px;

    background: rgba($color: #000000, $alpha: 0.1);
    border: 2px solid $light;
    padding: $padding-10;

    li {
        padding: $padding-5;
        color: black;
        border: 2px solid $green;
        transition: all 0.3s ease-in-out;

        &:first-child {
            border-radius: 10px 0 0 10px;
        }
        &:last-child {
            border-radius: 0 10px 10px 0;
        }
    }
}
@media (max-width: 767px) {
    .wave svg {
        width: calc(215% + 1.3px);
        height: 209px;
    }
    .logo {
        font-size: 1.5rem;
        span {
            font-size: 1.1rem;
        }
    }
    .desktop-menus {
        display: none;
    }
}

@media (min-width: 767px) {
    .grid-about-me {
        display: grid;
        gap: 80px;
        grid-template-columns: auto 1fr;
    }

    .about-me-text {
        border-right: 2px solid $light;
        padding-right: 5px;
        padding-right: 20px;
    }
    .menu-desktop {
        border: none;
        font-weight: normal;
    }

    .menu-btn {
        display: none;
    }
    .igwefran6-image {
        align-self: center;
        justify-self: end;
        margin: 0;
        position: relative;
        width: 200px;
        height: 200px;
        margin-left: 10px;
        img {
            width: 100%;
            height: auto;
        }

        .img-emoji {
            display: block;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            position: absolute;
            left: -35px;
            bottom: -35px;
            border: 2px solid $light;
            outline: 2px solid $light;
            outline-offset: 4px;
        }
        .img-emoji-2 {
            display: block;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            position: absolute;
            left: -65px;
            top: 20px;
            border: 2px solid $light;
            outline: 2px solid $light;
            outline-offset: 4px;
        }
        .img-emoji-3 {
            display: block;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            position: absolute;
            right: -5px;
            top: -5px;
            border: 2px solid $light;
            outline: 2px solid $light;
            outline-offset: 4px;
        }
    }
    .menu-dialog {
        display: none;
    }
    form {
        width: 400px;
    }
}

// adding max width for screens above 1200px wide
@media (min-width: 1200px) {
    body {
        margin: auto;
        max-width: 1200px;
        min-height: 100vh;
        box-shadow: 1px 1px 5px $light;
    }
}
