@font-face {
  font-family: "kaushan";
  src: url("../../assets/fonts/kaushan/KaushanScript-Regular.otf") format("opentype");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: auto;
}

.light {
  background: #346148;
  color: #F5F3F5;
}

.dark {
  background: #302B27;
}

header {
  position: relative;
}

section {
  padding: 30px;
  margin-top: 20px;
}
section p {
  font-size: 1.1rem;
  margin-top: 25px;
}

section:first-child {
  margin-top: 120px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-content: center;
  min-width: 100%;
  padding: 20px;
}
nav button {
  padding: 5px 10px;
  border: none;
  background: transparent;
}
nav .logo,
nav .menu-btn,
nav .share-page {
  padding: 10px;
}
nav .logo {
  font-size: 1.5rem;
  color: #444444;
  pointer-events: none;
  font-family: kaushan;
}
nav .scroll-to {
  position: fixed;
  right: 50%;
  bottom: 0;
  transform: translateX(50%);
  padding: 0;
  margin: 0;
}
nav .scroll-to ul {
  display: flex;
  list-style-type: none;
  gap: 5px;
  padding: 5px;
  background: #f5f3f5;
  border-radius: 10px 10px 0 0;
}
nav .scroll-to ul li {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #346148;
  color: #444444;
  transition: background 0.3s ease-in-out;
}
nav .menu-dialog {
  position: fixed;
  bottom: 50%;
  right: 50%;
  transform: translate(400%, 400%);
  background: #F5F3F5;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  color: white;
  transition: transform 0.5s ease-in-out;
}
nav .menu-dialog ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}
nav .menu-dialog ul li {
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid #346148;
  color: #444444;
  transition: background 0.3s ease-in-out;
}
nav .menu-dialog button {
  position: absolute;
  top: -30px;
  right: 5px;
  background: #777;
  color: #F5F3F5;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid white;
}

.share-page {
  transition: all 0.3s ease-in-out;
}

.active-button {
  background: #346148;
  color: #F5F3F5 !important;
}

.menu-btn {
  transition: transform 0.3s ease-in-out;
}

.rotate90deg {
  transform: rotate(90deg);
}

.grid-about-me {
  display: block;
}

.igwefran6-image {
  height: 250px;
  width: 250px;
  margin: auto;
  margin-top: 50px;
  border-radius: 50%;
  border: 2px solid #F5F3F5;
  outline: 2px solid #F5F3F5;
  outline-offset: 4px;
}
.igwefran6-image img {
  width: 100%;
  object-position: top;
  object-fit: cover;
  border-radius: 50%;
}
.igwefran6-image .img-emoji,
.igwefran6-image .img-emoji-2,
.igwefran6-image .img-emoji-3 {
  display: none;
}

.grid-project {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  margin-top: 40px;
}
.grid-project div {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  min-height: 250px;
  border-radius: 10px;
  border: 2px solid #F5F3F5;
  position: relative;
  transition: transform 0.5s ease-in-out 2s;
}
.grid-project div:nth-child(odd):hover {
  transform: rotate(8deg);
  z-index: 4;
  transition: transform 0.5s ease-in-out 0s;
}
.grid-project div:nth-child(even):hover {
  transform: rotate(-4deg);
  z-index: 4;
  transition: transform 0.5s ease-in-out 0s;
}
.grid-project div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}
.grid-project div button {
  position: absolute;
  padding: 10px 20px;
  font-weight: bold;
  border: 2px solid #F5F3F5;
  background: #346148;
  color: #F5F3F5;
  transition: padding 0.3s ease-in-out;
}
.grid-project div button:hover {
  padding: 16px 32px;
}
.grid-project div .btn-demo {
  bottom: 20px;
  left: 20px;
  border-radius: 10px 0 0 10px;
}
.grid-project div .btn-source-code {
  bottom: 20px;
  right: 20px;
  border-radius: 0 10px 10px 0;
}
.grid-project div .project-title {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 40px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: all 0.3s ease-in-out;
}
.grid-project div .project-title:hover {
  text-decoration-color: #F5F3F5;
}

.wave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(163% + 1.3px);
  height: 104px;
  z-index: -1;
}

.wave .shape-fill {
  fill: #ffffff;
}

.menu-desktop {
  display: flex;
  font-weight: bold;
  align-items: center;
}

.desktop-menus {
  display: flex;
  list-style-type: none;
  font-size: 1.1rem;
  gap: 4px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid #F5F3F5;
  padding: 10px;
}
.desktop-menus li {
  padding: 5px;
  color: black;
  border: 2px solid #346148;
  transition: all 0.3s ease-in-out;
}
.desktop-menus li:first-child {
  border-radius: 10px 0 0 10px;
}
.desktop-menus li:last-child {
  border-radius: 0 10px 10px 0;
}

@media (max-width: 767px) {
  .wave svg {
    width: calc(215% + 1.3px);
    height: 209px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .logo span {
    font-size: 1.1rem;
  }
  .desktop-menus {
    display: none;
  }
}
@media (min-width: 767px) {
  .grid-about-me {
    display: grid;
    gap: 80px;
    grid-template-columns: auto 1fr;
  }
  .about-me-text {
    border-right: 2px solid #F5F3F5;
    padding-right: 5px;
  }
  .menu-desktop {
    border: none;
    font-weight: normal;
  }
  .menu-btn {
    display: none;
  }
  .igwefran6-image {
    align-self: center;
    justify-self: end;
    margin: 0;
    position: relative;
    width: 200px;
    height: 200px;
  }
  .igwefran6-image img {
    width: 100%;
    height: auto;
  }
  .igwefran6-image .img-emoji {
    display: block;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -35px;
    bottom: -35px;
    border: 2px solid #F5F3F5;
    outline: 2px solid #F5F3F5;
    outline-offset: 4px;
  }
  .igwefran6-image .img-emoji-2 {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    left: -65px;
    top: 20px;
    border: 2px solid #F5F3F5;
    outline: 2px solid #F5F3F5;
    outline-offset: 4px;
  }
  .igwefran6-image .img-emoji-3 {
    display: block;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    position: absolute;
    right: -5px;
    top: -5px;
    border: 2px solid #F5F3F5;
    outline: 2px solid #F5F3F5;
    outline-offset: 4px;
  }
  .menu-dialog {
    display: none;
  }
}
@media (min-width: 1200px) {
  body {
    margin: auto;
    max-width: 1200px;
    min-height: 100vh;
    box-shadow: 1px 1px 5px #F5F3F5;
  }
}

/*# sourceMappingURL=main.css.map */
